monitoring-agent/node_modules
monitoring-agent/coverage

monitoring-ui/node_modules
monitoring-ui/coverage

truck-api/node_modules
truck-api/coverage

truck-ui/node_modules
truck-ui/coverage

dist
test/temp
.sass-cache
.tmp

*.log
**/*.log
.DS_Store